<form action="/add" method="post">
<label for="">Nome:</label>
<input type="text" name="nome">

<label for="">Sobrenome:</label>
<input type="text" name="sobrenome">

<label for="">Idade:</label>
<input type="number" name="idade">
<button type="submit" class="btn btn-success">Cadastrar</button>
</form>